<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.czareg.HugeMapper">

    <select id="hugeQuery" resultType="org.czareg.Columns">
        SELECT TOP (10000000)
        a.name AS col1,
        b.name AS col2
        FROM sys.all_objects a
        CROSS JOIN sys.all_objects b
    </select>

    <select id="smallQuery" resultType="int">
        SELECT 1
    </select>

</mapper>
