<configuration>

    <!-- Console output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- MyBatis debug logging -->
    <logger name="org.apache.ibatis.transaction" level="DEBUG"/>
    <logger name="org.apache.ibatis.executor" level="DEBUG"/>
    <logger name="org.apache.ibatis.executor.resultset" level="DEBUG"/>
    <logger name="org.apache.ibatis.session" level="DEBUG"/>
    <logger name="org.apache.ibatis.logging.jdbc.BaseJdbcLogger" level="DEBUG"/>

    <logger name="org.czareg.HugeMapper">
        <level value="trace"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
